@media (min-width: 1024px) {
  .aside {
    transform: translateX(-28rem);
    width: 10rem;
  }

  .nav {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .aside {
    width: 100%;

    &.scrolled {
      border-color: rgba(0, 0, 0, 0.1);
    }

    &.hidden {
      transform: translateY(-100%);
    }
  }
}

.aside {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 99;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
  transition:
    border-color 0.3s ease,
    transform 0.3s ease;
}

.aside ul {
  list-style: none;
  padding: 0;
}

.aside li {
  font-size: 1rem;
}

.nav {
  display: flex;
  max-width: 42rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .aside {
    width: 100%;

    &.scrolled {
      border-color: rgba(0, 0, 0, 0.1);
    }

    &.hidden {
      transform: translateY(-100%);
    }
  }

  .nav {
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;

    .category-container {
      display: flex;
      gap: 1rem;
    }
  }
}

@media (max-width: 493px) {
  .nav {
    flex-direction: column;
    gap: 1rem;

    .category-container {
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      flex-wrap: nowrap;
      width: 100%;
      padding-bottom: 0.5rem;

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      li {
        flex-shrink: 0;
      }
    }

    .hyper-link-container {
      justify-content: center;
    }
  }
}

.link-text-highlight {
  font-weight: 600;
}

/* HyperLink */
.hyper-link-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.hyper-link {
  opacity: 0.75;
  transition: opacity 0.3s ease;

  display: block;
  transform: scale(0.9);

  &:hover {
    opacity: 0.99;
  }
}
