.photoPartList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.photoPartList h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .photos_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) {
  .photos_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.photos_container {
  width: 100%;
  display: grid;
  gap: 0.4rem;
  animation: fadeIn 1.6s ease-in-out;
}

.photo_wrapper {
  position: relative;
  width: 100%;
}

.photo {
  width: 100%;
  object-fit: contain;
}
