.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.responsive-image {
  max-height: calc(80vh);
  height: 400px;
  max-width: 100%;
  width: auto;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1%;
}

@keyframes skeletonAnimation {
  0% {
    background-position: "200% 0";
  }
  100% {
    background-position: "-200% 0";
  }
}

.image-loading {
  background: "linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%)";
  background-size: "200% 100%";
  animation: skeletonAnimation 1.5s infinite;
  opacity: 0.5;
}
