body {
  margin: 0;
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: #fafafa;
}

/* a태그 초기화*/
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a:active {
  text-decoration: none;
  color: inherit;
}
