.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.footer {
  display: none;
}

@media (min-width: 1024px) {
  .main {
    margin-left: 2rem;
  }
}

@media (max-width: 1024px) {
  .main {
    margin-top: 4.5rem;
  }

  .footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: auto;
    padding: 1.25rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 493px) {
  .main {
    margin-top: 5rem;
  }
}

.main {
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 4rem;
  max-width: 42rem;
  width: 100vw;
}
