.postList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* PostPartList*/
.postPartList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.postPartList h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
}
