.postList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.postPartList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.description {
  margin-top: -1.2rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #666;
}
